.hero {
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &--heading {
      @include media(thone) {
        font-size: 40px;
      }
    }

    &--text {
      margin: 25px 0;
      max-width: 550px;
      text-align: center;
      font-size: 18px;
      line-height: 1.6;
    }

    &--img {
      margin-top: 80px;

      @include media(tablet) {
        height: 350px;
      }
    }

    @include media(thone) {
      padding: 0 50px;

      &--img {
        height: 250px;
      }

      &--text {
        font-size: 14px;
      }
    }

    @include media(phone) {
      padding: 0 25px;

      &--img {
        height: 200px;
      }

      &--heading {
        font-size: 25px;
      }

      &--text {
        margin-bottom: 50px;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &--icon {
      height: 35px;
      width: 35px;
      margin-bottom: 15px;
      margin-left: 2px;
    }

    &--count {
      font-size: 65px;
      font-weight: 700;
    }

    &--title {
      text-align: center;
      margin-top: 10px;
      margin-top: 20px;
      opacity: 0.7;
    }

    @include media(thone) {
      margin-bottom: 40px;
    }

    @include media(phone) {
      margin-bottom: 80px;
    }
  }
}
